<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <%= stylesheet_link_tag :tdc %>
		<%= javascript_include_tag 'jquery-1.4.4.min', 'thumbnails' %>
    <title>Crinson Photography</title>
		<meta name="description" content="Crinson Photography - Suffolk Photographer Tom Crinson's Personal Photo Portfolio" />
		<meta name="keywords" content="Suffolk, Ipswich, Photography, Photos, Portfolio" />
		<meta name="author" content="Tom Crinson" />
  </head>
  <body>
    <div id="content">
      <%= yield %>
      <%= partial 'sash' %>
			<%= image_tag( image_path('spinner.gif'), :class => "hidden", :id => "spinner" )%>
    </div>    
  </body>
</html>